<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link href="/css/style.css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
    
    	{% block header %}{% endblock %}
    	{% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    
    </body>
</html>
